<%= form_for(@recipe) do |f| %>
<% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
Name:
<br>
<%= f.text_field :name %>
<br>
Cooking Time:
<br>
<%= f.text_field :cook_time %>
<br>
Instructions:
<br>
<%= f.text_field :instructions %>
<br>
Ingredients:
<br>
<% for ingredient in Ingredient.find(:all) %>
    <div>
      <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id, @recipe.ingredients.include?(ingredient) %>
      <%= ingredient.name %>
    </div>
<% end %>
Image:
<%= f.text_field :image_url %>
<br>
<%= f.submit submit_button_value %>
<% end %>