<h2>All your recipes!</h2>
<br>
<% @recipes.each do |recipe| %>
<h4><%= link_to "#{recipe.name}", recipe_path(recipe) %></h4>
<br>
<%= image_tag recipe.recipe_image.thumb.url%>
<br>
<p class='label'>Category:</p> <%= recipe.category.name if recipe.category %>
<br>
<p class='label'>Cooking Time: </p><%= recipe.cook_time %>
<br>
 <p class='label'>Instructions: </p> <%= recipe.instructions %>
<br>
<% if can? :create, Recipe %>
<%= link_to 'edit', edit_recipe_path(recipe) %>
<%= link_to 'delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<br>
<% end %>

<br>


