<h2>All your recipes!</h2>
<br>
<% @recipes.each do |recipe| %>
<h4><%= link_to "#{recipe.name}", recipe_path(recipe) %></h4>
Cooking Time: <%= recipe.cook_time %>
<br>
 Instructions: <%= recipe.instructions %>
<br>
<%= link_to 'edit', edit_recipe_path(recipe) %>

<%= link_to 'delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<% end %>

<%= link_to 'List All Ingredients', ingredients_path %>
<br>


