<h2> <%= @recipe.name %></h2>
<br>
 <%= image_tag @recipe.recipe_image.detail.url %>
<br>
<p class='label'>Category:</p>
<%= @recipe.category.name if @recipe.category %>
<br>
<p class='label'>Cooking Time:</p> <%= @recipe.cook_time %>
<br>
 <p class='label'>Instructions:</p> <%= @recipe.instructions %>
<br>
<p class='label'>Ingredients:</p>
<br>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%=link_to ingredient.name, ingredient_path(ingredient) %> <br>
        </li>
    <%end%>
</ul>
<br>
<%= link_to 'Home', recipes_path %>
<br>




