<%= @recipe.name %>
<br>
Cooking Time: <%= @recipe.cook_time %>
<br>
 Instructions: <%= @recipe.instructions %>
<br>
Ingredients:
  <ul>
    <% @recipe.ingredients.each do |i| %>
      <li><%= i.name %> <br>
        </li>
    <%end%>
</ul>
<br>
<%= link_to 'Home', recipes_path %>
<br>




