<!DOCTYPE html>
<html>
<head>
  <title>CookbookApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
        <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><%=link_to('Recipe List', recipes_path) %></li>
          <li><%=link_to('Add New Recipe', new_recipe_path) %></li>
          <li><%=link_to('Ingredient List', ingredients_path) %></li>
          <li><%=link_to('Add New Ingredient', new_ingredient_path) %></li>
          </ul>
        </div>
      </div>

    </div>
<div class='background'>
</div>
<div class="container">

  <div class="row">


    <div class="span12">

      <%= yield %>

    </div>
  </div>
</div>
</body>
</html>
